{% extends "sell/base.html" %}

{% block title %}Inventory Addition{% endblock %}

{% block body %}
<form action="{% url 'sell:newInventory' %}{{get_params}}" method="post">
        {% csrf_token %}
    <p>Leave international shipping details blank if worldwide shipping is not available.</p>
    <p>Currency will be of shipping countries currency</p>
    {{inventoryForm}}
    <a href="{% url 'accounts:new_address' %}" target="_blank">Add new address</a>
        <input type="submit" value="Add">
    </form>

{% endblock %}